* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;	
}

.screen {			
	position: relative;	
	height: 600px;
	width: 360px;	
}

.screen__content {
	position: relative;	
	height: 100%;
}

.container {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
    background-image: url(back-ground.jpg);
}

.login {
	width: 320px;
	padding: 30px;
	padding-top: 156px;
}

.login__field {
	padding: 20px 0px;
}

.login__icon {
	position: absolute;
	top: 30px;
	color: #7875B5;
}

.login__input {
	border: none;
	border-bottom: 2px solid #D1D1D4;
	background: none;
	font-weight: 700;
}

.validation_style {
	color: var(--ion-color-danger);
}

.background-login{
	--ion-background-color: rgba(255, 0, 0, 0);
}