.close-icon {
    font-size: 40px;
    color: var(--ion-color-danger);
    display: block;
    margin-left: auto;
    
}

.iconoComplementario {
    color: var(--ion-color-warning)
}

.estiloTitulo {
    color: var(--my-title-text-color);
    font-size: 70px;
  }

.estiloParrafo {
    color: var(--my-text-color);
}

.estiloFondo {
    background-color: var(--my-background-color);
}