.background{
  font-family: Verdana, sans-serif;
  background-image: url(download.jpg);
}

.start-icon{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  font-size: 100px;
  color: rgb(180, 62, 62);
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.bottom-paragraph{
  font-weight:bold;
  position: fixed;
  padding-bottom: 40px;
  bottom: 0;
  width:100%;
  text-align: center;
  color: rgb(0, 0, 0);
}