.background{
  font-family: Verdana, sans-serif;
  background-image: url(download.jpg);
}

ion-menu-button, h1{
  color: rgb(53, 116, 153);
  font-size: 36px;
  line-height: 46px;
}

ion-avatar {
  height: 100px;
  width: 100px;
}

swiper-slide {
  height: 120px;
}

.album-style {
  --border-radius: 4px;
}