.background{
  background-image: url(https://img3.stockfresh.com/files/b/balabolka/m/25/9148376_stock-vector-cartoon-hand-drawn-disco-music-seamless-pattern.jpg);
  font-family: Verdana, sans-serif;
}

.start-icon{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  font-size: 100px;
  color: rgb(180, 62, 62);
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.bottom-paragraph{
  font-weight:bold;
  position: fixed;
  padding-bottom: 30px;
  bottom: 0;
  width:100%;
  text-align: center;
  color: rgb(0, 0, 0);
}