.background{
  background-image: url(back-ground.jpg);
  background-color: #ac0b4c;
}

ion-menu-button, h1{
  color: #e0db3f;
  font-size: 36px;
  line-height: 46px;
}

ion-icon {
  color: #e0db3f;
  font-size: 27px;
}

h2{
  color: #ac0b4c;
  font-size: 26px;
  line-height: 38px;
}

span{
  font-size: 16px;
}

ion-avatar {
  height: 100px;
  width: 100px;
}

swiper-slide {
  height: 120px;
}

.album-style {
  --border-radius: 4px;
}

ion-grid {
  background-color: #101c24;
}

.screen {
  padding-left: 10px;
  padding-top: 40px;
}

hr {
    border: 0;
    border-top: 1px solid white;
}